@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,500;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: 37% 63%;
  height: 100%;
  width: 100%;
}

#banner {
  background: no-repeat center url(./img/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: end;
  flex-wrap: wrap;
}

footer {
  align-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer p {
  padding-bottom: 0.8rem;
  font-size: 0.8rem;
  text-align: center;
}

footer,
footer a:visited,
footer a:link {
  color: #e5e5e5;
}

#logo {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 16px;
  height: 150px;
  width: 100%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.4rem;
}

#logo img {
  width: 95px;
}

#logo h1 {
  color: #fff;
  font-size: 6rem;
  font-family: 'Norse', sans-serif;
}

#info-container {
  background-color: #fafafa;
  display: grid;
  grid-template-rows: 35% 30% 30%;
}

#desc p {
  margin-left: 3rem;
  font-size: 1.5rem;
  font-weight: 400;
  width: 75%;
}

#desc p:first-of-type {
  margin-top: 10.5rem;
}

#desc p:last-of-type {
  margin-top: 1.6rem;
}

#form_container {
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-left: 3rem;
  padding-top: 2rem;
  box-shadow: 0px 3px 5px 0px #dddddd;
  height: 110%;
}

#form_container h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

form {
  height: 75%;
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 1.3rem;
}

form div {
  display: flex;
  flex-direction: column;
}

form div label {
  margin-bottom: 2px;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 2px;
}

form div input {
  width: 270px;
  height: 35px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  padding-left: 0.5rem;
}

form div input:focus,
form div input:focus-visible {
  border: 1px solid rgba(0, 0, 255, 0.7);
  outline: none;
  box-shadow: 2px 5px 9px 0px rgba(0, 0, 0, 0.3);
}

.error {
  outline: red;
  border: 1px red solid;
}

.error-text {
  color: red;
  font-size: 0.8em;
}

#btn-container {
  margin-top: 4rem;
  padding-left: 3rem;
}

#btn-container button {
  width: 232px;
  height: 45px;
  background-color: #596d48;
  color: #fff;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 2rem;
  font-size: 1rem;
  border: none;
}

button:hover {
  cursor: pointer;
}

#btn-container p a {
  text-decoration: none;
  color: #596d48;
}
