@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,500;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: 37% 63%;
  height: 100%;
  width: 100%;
}

#banner {
  background: no-repeat center url(./img/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: end;
  flex-wrap: wrap;
}

footer {
  align-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer p {
  padding-bottom: 0.8rem;
  font-size: 0.8rem;
  text-align: center;
}

footer,
footer a:visited,
footer a:link {
  color: #e5e5e5;
}

#logo {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 16px;
  height: 150px;
  width: 100%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.4rem;
}

#logo img {
  width: 95px;
}

#logo h1 {
  color: #fff;
  font-size: 6rem;
  font-family: 'Norse', sans-serif;
}

#info-container {
  background-color: #f9f9f9;
  display: grid;
  grid-template-rows: 35% 25% 35%;
}

#desc p {
  margin-left: 3rem;
  font-size: 1.5rem;
  font-weight: 400;
  width: 75%;
}

#desc p:first-of-type {
  margin-top: 10.5rem;
}

#desc p:last-of-type {
  margin-top: 1.6rem;
}
